<li class="category-list group">
    <a href="{{ path('product_index')~'?categories%5B%5D='~category.id | url_encode }}">
        <img src="{{ asset('uploads/categories/' ~category.images[0].name ) }}" alt="category thumbnail">
        <h3 class="category-name">{{ category.name }}</h3>
    </a>
</li>