<li class="category-list group">
    <a href="#">
        <img src="{{ asset('uploads/categories/' ~category.images[0].name ) }}" alt="category thumbnail">
        <span class="category-name">{{ category.name }}</span>
    </a>
</li>