{% extends 'base.html.twig' %}

{% block body %}
<main>
    <section id="latest_product">
        <h2>Nouveautés!</h2>
        <h3>Nos derniers arrivages</h3>
        <ul>
            {% for latestProduct in latestProducts %}
                <li>
                    <header></header>
                    <a>{{ latestProduct.reference }}</a>
                    <p>{{ latestProduct.description }}</p>
                    <footer>
                        <p>{{ latestProduct.sellPrice }}</p>
                        <a href="#">Ajouter au panier</a>
                    </footer>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}
