{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="banner-section">
            <img class="banner-image" src="{{ asset('images/banner/bandeau_gundam_virtue.jpg.webp') }}" alt="gundam virtue">
        </section>
        <section id="home-categories">
            <h2 class="home-section-title">Catégories</h2>
            <ul class="category-deck">
                {% for category in categories %}
                    {% include 'home/_categoryCard.html.twig' with {category: category} only %}
                {% endfor %}
            </ul>
        </section>
        <section id="home-latest">
            <h2 class="home-section-title">Nouveautés !</h2>
            <ul class="product-deck mb-10">
                {% for latestProduct in latestProducts %}
                    {% include 'home/_productCard.html.twig' with {latestProduct: latestProduct} only %}
                {% endfor %}
            </ul>
            <a id="home-latest-link" href="{{ path('product_index') }}">Tout voir</a>
        </section>
        {{ include('partials/informations.html.twig') }}
    </main>
{% endblock %}
