{% extends 'base.html.twig' %}

{% block title %}GUNPLA SHOP | {{ title }}{% endblock %}

{% block body %}
<main>
    <section id="latest_product">
        <h2>Nouveautés!</h2>
        <h3>Nos derniers arrivages</h3>
        <ul></ul>
    </section>
</main>
{% endblock %}
