<section>
    <ul class="grid grid-cols-4 w-3/5 mx-auto gap-8 text-center">
        <li>
            <i class="fa-solid fa-lock text-3xl mb-8 text-gundam-red"></i>
            <h2 class="text-gundam-blue mb-3">Paiement sécurisé</h2>
            <p>Naviguez et commandez en toute sécurité sur notre site.</p>
        </li>
        <li>
            <i class="fa-solid fa-truck text-3xl mb-8 text-gundam-red"></i>
            <h2 class="text-gundam-blue mb-3">Livraison offerte</h2>
            <p>Livraison offerte à partir de 100€ d'achat. Nous préparons votre commande dans les 48h. Celle-ci est emballée et contrôlée avec soin avant son envoi.</p>
        </li>
        <li>
            <i class="fa-solid fa-phone text-3xl mb-8 text-gundam-red"></i>
            <h2 class="text-gundam-blue mb-3">Service de qualité</h2>
            <p>Nous restant à votre disposition sur nos différents supports pendant les heures d'ouverture.</p>
        </li>
        <li>
            <i class="fa-solid fa-right-left mb-8 text-gundam-red text-3xl"></i>
            <h2 class="text-gundam-blue mb-3">Satisfait ou remboursé</h2>
            <p>Nous vous remboursons votre produit non déballé, ou échange de tout produit ouvert et retourné dans son emballage d'origine dans les 14 jours suivant la date de réception de votre achat</p>
        </li>
    </ul>
</section>
<section class="bg-gundam-grey text-gundam-yellow">
    <div class="w-3/5 mx-auto grid-cols-2 grid">
        <article>
            <h2>Mon Compte</h2>
            <ul>
                <li><a href="#">Mon Profil</a></li>
                <li><a href="#">Mon panier</a></li>
                <li><a href="#">Historique de commande</a></li>
                <li><a href="#">Méthode de paiement</a></li>
            </ul>
        </article>
        <article>
            <h2>Contact</h2>
            <ul>
                <li>Adresse</li>
                <li>Téléphone</li>
                <li>e-mail</li>
            </ul>
        </article>
    </div>
</section>
<section class="text-center py-1 bg-gundam-grey bg-opacity-70 text-gundam-white">
     <span class="text-xs">Gunpla Shop</span>&copy;
</section>
