<section class="bg-gundam-blue">
    <ul class="grid grid-cols-4 w-3/5 mx-auto gap-10 text-center">
        <li>
            <i class="fa-solid fa-lock text-2xl mb-3 text-gundam-white bg-gundam-red p-5 rounded-full"></i>
            <h2 class="text-gundam-yellow mb-2">Paiement sécurisé</h2>
            <p class="text-gundam-white text-base text-justify">Naviguez et commandez en toute sécurité sur notre site.</p>
        </li>
        <li>
            <i class="fa-solid fa-truck text-2xl mb-3 text-gundam-white bg-gundam-red p-5 rounded-full"></i>
            <h2 class="text-gundam-yellow mb-2">Livraison offerte</h2>
            <p class="text-gundam-white text-base text-justify">Livraison offerte à partir de 100€ d'achat. Nous préparons votre commande dans les 48h. Celle-ci est emballée et contrôlée avec soin avant son envoi.</p>
        </li>
        <li>
            <i class="fa-solid fa-phone text-2xl mb-3 text-gundam-white bg-gundam-red p-5 rounded-full"></i>
            <h2 class="text-gundam-yellow mb-2">Service de qualité</h2>
            <p class="text-gundam-white text-base text-justify">Nous restant à votre disposition sur nos différents supports pendant les heures d'ouverture.</p>
        </li>
        <li>
            <i class="fa-solid fa-right-left text-2xl mb-3 text-gundam-white bg-gundam-red p-5 rounded-full"></i>
            <h2 class="text-gundam-yellow mb-2">Satisfait ou remboursé</h2>
            <p class="text-gundam-white text-base text-justify">Nous vous remboursons votre produit non déballé, ou échange de tout produit ouvert et retourné dans son emballage d'origine dans les 14 jours suivant la date de réception de votre achat</p>
        </li>
    </ul>
</section>