{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid grid-cols-4 w-3/5 mx-auto">
        <aside>
            {% include('product/_searchForm.html.twig') with {searchForm: searchForm, min: min, max: max} only %}
        </aside>
        <section class="col-span-3 p-3">
            <ul class="grid grid-cols-3">
                {% if products is not empty %}
                    {% for product in products %}
                        {% include('product/_productCard.html.twig' ) with {'product': product} only %}
                    {% endfor %}
                {% else %}
                    <li>Il n'y a aucun résultat</li>
                {% endif %}
            </ul>
        </section>
    </div>
{% endblock %}
