.search_form {
    @apply mt-3
}

.search_form input {
    @apply my-1
}

.search_form .search_category {
    @apply flex content-between w-full
}

.search_category label {
    @apply mt-0 w-[90%]
}

.search_category input[type=checkbox] {
    @apply float-right w-[2em]
}

.search_form .noUi-handle {
    width: 20px;
    height: 20px;
    top: -3px;
    right: -10px;
    border: none;
    box-shadow: none;
    @apply rounded-full bg-gundam-blue
}

.search_form .noUi-handle::before, .search_form .noUi-handle::after {
    height: 0;
    width: 0;
}

.search_form .noUi-connect {
    @apply bg-gundam-yellow
}
