@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Plavsky', sans-serif;
    @apply tracking-widest
}

body {
    @apply bg-gundam-white;
}

@font-face {
    font-family: 'Plavsky';
    src: url("../fonts/Plavsky.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.main-section {
    @apply w-4/6 mx-auto shadow-lg px-3
}

.content {
    @apply grid-cols-2 grid gap-0
}

.content-image-list {
    @apply grid grid-cols-5 gap-2 mt-2
}

.content-detail {
    @apply pl-5
}

.content-text  {
    @apply text-sm
}

.content-title {
    @apply text-5xl font-bold uppercase text-gundam-red mb-5
}

.selected-image {
    @apply w-full
}

.section-title {
    @apply w-4/6 mx-auto;
}

.section-title h2 {
    @apply text-gundam-white font-extrabold uppercase text-5xl
}

.section-title a {
    @apply text-xl text-gundam-yellow underline block mt-1
    mb-8 hover:text-gundam-red
}

.deck {
    @apply grid grid-cols-4 w-4/6 mx-auto gap-5;
}

.card-product {
    @apply bg-gundam-white overflow-hidden;
}

.card-product-header {
    @apply overflow-hidden
}

.card-product-thumbnail {
    @apply hover:scale-125 hover:transition ease-in-out duration-150 w-full
}

.card-product-content {
    @apply p-2;
}

.card-product-content-title {
    @apply text-xl uppercase font-bold hover:underline;
}

.card-product-price {
    @apply text-3xl font-bold mt-2 text-gundam-red;
}

.card-product-add-cart {
    @apply text-center bg-gundam-blue text-gundam-white
    block text-lg p-2 mt-4 hover:bg-gundam-red hover:text-gundam-yellow
}

.card-product-add-cart-disabled {
    @apply text-center bg-gundam-grey text-gundam-white
    block text-lg p-2 mt-4 cursor-not-allowed
}

.nav {
    @apply w-full bg-gundam-white h-16 shadow-md
}

.navbar {
    @apply w-4/6 text-center flex-row flex mx-auto justify-between h-full;
}

.navlink {
    @apply inline-block px-2 hover:underline text-gundam-red;
}

.nav-logo {
    @apply font-bold text-2xl pl-0 text-gundam-red my-auto flex flex-row;
}

.nav-list {
    @apply flex-row flex items-center;
}

.nav-submenu {
    @apply bg-gundam-white transform scale-0 group-hover:scale-100 absolute mt-2
    transition duration-150 ease-in-out origin-top shadow-2xl border-t-2 border-t-gundam-red;
}

.sub-menu-group {
    @apply inline-block;
}

.sub-navlink {
    @apply text-left py-4 text-sm;
}

.sub-nav {
    @apply text-left py-3 px-2 hover:text-gundam-yellow hover:underline hover:bg-gundam-red
    hover:transition duration-75 ease-in-out;
}

.nav-menu-icon {
    @apply my-auto text-gundam-red;
}

.nav-menu-icon-qty {
    @apply text-xs absolute top-2 left-4 bg-gundam-red p-1 px-1.5 text-gundam-yellow rounded-full;
}

.nav-cart-item {
    @apply text-left py-3 px-2 w-72;
}

.nav-cart-item h4 {
    @apply font-bold text-gundam-red uppercase text-sm;
}

.nav-cart-item ul li {
    @apply text-sm
}

.form {
    @apply bg-gundam-white w-1/4 grid mx-auto mt-32 shadow-2xl
    rounded-md overflow-hidden pb-10;
}

.form h1 {
    @apply text-4xl text-center py-8 bg-gundam-blue text-gundam-white;
}

.form label {
    @apply mt-5 mb-3 text-xl font-bold text-gundam-blue mx-5;
}

.form input[type=text], input[type=password], input[type=tel], input[type=email] {
    @apply pl-4 h-10 hover:border-b-2 text-gundam-blue
    hover:border-gundam-blue bg-gundam-yellow mx-5;
}

.form input[type=submit] {
    @apply mt-10 bg-gundam-red py-3 text-gundam-yellow mx-5
    text-lg hover:bg-gundam-blue hover:text-gundam-white hover:cursor-pointer
    hover:transition duration-150 ease-in-out;
}

.register-link {
    @apply mx-5 text-gundam-red underline text-right
    hover:cursor-pointer mt-3 hover:text-gundam-blue;
}

.shopping-cart {
    @apply w-4/6 mx-auto flex;
}

.cart {
    @apply w-4/6 pr-16
}

.shopping-cart-aside {
    @apply w-2/6 float-right bg-gundam-blue text-gundam-white p-5 text-sm
}

.shopping-cart-aside h2 {
    @apply text-center text-xl text-gundam-yellow mt-5 mb-10
}

.shopping-cart-aside a {
    @apply w-full text-center bg-gundam-red block py-3 text-base mt-5
}

.shopping-cart-aside table {
    @apply w-full
}

.shopping-cart-aside table td:last-child {
    @apply text-right
}

.cart-table {
    @apply w-full
}

.cart-table thead {
    @apply bg-gundam-blue text-gundam-yellow text-lg
}

.cart-table thead th {
    @apply text-left py-3 font-light px-3
}

.cart-body-item {
    @apply px-3
}

.shopping-cart-total {
    @apply text-lg text-gundam-yellow pt-5
}

.cart-body-item:last-child {
    @apply text-right
}

.nav-cart-validate {
    @apply w-full bg-gundam-red py-3 px-3
}