{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <div><a href="{{ path('admin_category_new') }}">+ Nouvelle catégorie</a></div>
        <table>
            <thead>
            <tr>
                <th>Nom de la catégorie</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="{{ path('admin_category_put', {'id': category.id}) }}">Modifier</a>
                        <a href="{{ path('admin_category_delete', {'id': category.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}