{% extends 'admin/index.html.twig' %}
{% block content %}
    <section class="admin-panel">
        <h1 class="admin-panel-title">Ajouter une catégorie</h1>
        <hr>
        {% include('admin/Category/form.html.twig') %}
    </section>
{% endblock %}