{% include 'partials/header.html.twig' %}
    <body>
        <header class="nav">
            {{ include('partials/navbar.html.twig') }}
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
