{% extends 'admin/index.html.twig' %}
{% block content %}
    <section class="admin-panel">
        <h1 class="admin-panel-title">Modifier {{ product.reference }}</h1>
        <hr>
        {% include('admin/product/form.html.twig') %}
    </section>
{% endblock %}